@charset "utf-8";
/* CSS Document */
*{
margin:0;
}
img{
border:0;
}
body,html{
height:100%;
width:100%;
text-align:center;
background-color:#118da7;
}
#main{
width:790px;
height:435px;
}
#p1{
width:260px;
height:208px;
background:url(../img/login_1.jpg) no-repeat;
float:left;
}
#p2{
width:260px;
height:208px;
background:url(../img/login_2.jpg) no-repeat;
float:left;
}
#p3{
width:270px;
height:208px;
background:url(../img/login_3.jpg) no-repeat;
float:left;
}
#p4{
width:132px;
height:227px;
float:left;
}
#p5{
width:536px;
height:227px;
float:left;
}
#p51{
width:536px;
height:202px;
background:url(../img/login_4.jpg) repeat-y;
}
#p52{
width:536px;
height:25px;
background:url(../img/login_5.jpg);
}
#p6{
width:122px;
height:227px;
float:left;
}
#p7{
clear:both;
width:790px;
height:150px;
}
#p511{
width:55px;
height:202px;
float:left;
}
#p512{
width:426px;
height:202px;
float:left;
}
.p5121{
width:426px;
height:25px;
}
.p5122{
width:426px;
height:30px;
}
.p51221{
width:114px;
height:37px;
float:left;
}
.p51222{
width:114px;
height:37px;
float:right;
}
#p513{
width:55px;
height:202px;
float:left;
}
.text{
height:27px;
width:352px;
border:#666666 solid 1px;
background-color:#EEEEEE;
font-size:14px;
color:#333333;
}
a{
font-size:12px;
color:#99DDFF;
text-decoration:underline;
}
a:hover{
font-size:12px;
color:#FFFFFF;
text-decoration:underline;
}

.content{
	width:400px;
	margin-top: 300px;
	background-color: #eee;
	border-radius: 4px;
	padding: 35px;
}